<h1><%= board.escape("title") %></h1>

<div class="lists-container clearfix">
  <ul class="board-lists">
    <% board.lists().forEach(function(list) { %>
      <li class="board-list">
        <b>(<%= list.escape("ord") %>)</b>
        <%= list.escape("title") %>
        <button class="btn-delete-list" data-id="<%= list.id %>">
          Delete
        </button>

        <ul class="list-cards">
          <% list.cards().forEach(function(card) { %>
          <li class="card-list">
            <%= card.escape("title") %>
            <button class="btn-delete-card"
              data-id="<%= card.id %>"
              data-list-id="<%= list.id %>">
              X
            </button>
          </li>
          <% }); %>
          <li class="card-list">
            <button class="btn-create-card">add card</button>
          </li>
        </ul>

      </li>
    <% }); %>

      <li class="new-list-form board-list">
        <button class="btn-create-list">Create</button>
      </li>
  </ul>
</div>

<div class="back-link">
  <a href="#">Back to index</a>
</div>